.btn-container {
  margin-left: 48px;
  margin-top: 36px;
}

button {
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  background-color: #0095f6;
  color: white;
  cursor: pointer;
  transition: opacity 0.15s;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.5;
}
