.dispo-container {
  margin: 16px 16px;
  margin-left: 36px;
  display: flex;
  flex-direction: column;
}

.datos-container {
  display: flex;
}

.dispo-left-container,
.dispo-right-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-left: 24px;
}

.dispo-right-container {
  padding-left: 50px;
}

.cargo-container,
.categoria-container,
.turno-container,
.revista-container,
.planilla-container,
.disponum-container {
  margin-top: 16px;
}
